* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 2rem;
}

#gameboard {
  display: inline-grid;
  grid-template-columns: repeat(3, 110px);
  grid-template-rows: repeat(3, 110px);

  border-radius: 25px;
  overflow: hidden;
  outline: solid 8px #DFDFDF;
}

#gameboard .square {
  background-color: white;
  outline: solid 8px #DFDFDF;
}