@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

:root {
  --light: #DFDFDF;
  --dark: #494949;
}

* {
  font-family: 'Rubik', Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;

  display: grid;
  align-content: center;
  justify-items: center;
  gap: 48px;
}

#gameboard {
  width: min(510px, 100%);
  aspect-ratio: 1 / 1;
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  border: solid 4px var(--light);
  border-radius: 25px;
}

#gameboard .square {
  border: solid 4px var(--light);

  display: flex;
  justify-content: center;
  align-items: center;
}

#gameboard .square > img {
  width: 60%;
}

#gameboard .square:nth-of-type(1) {
  border-top-left-radius: 21px;
}
#gameboard .square:nth-of-type(3) {
  border-top-right-radius: 21px;
}
#gameboard .square:nth-of-type(7) {
  border-bottom-left-radius: 21px;
}
#gameboard .square:nth-of-type(9) {
  border-bottom-right-radius: 21px;
}

button[id="restart"] {
  font-size: 18px;
  font-weight: 500;
  color: var(--dark);
  padding: 10px 15px;
  background-color: transparent;
  border: solid 4px transparent;
  border-radius: 6px;
  cursor: pointer;
  transition: border-color 0.2s;
}
button[id="restart"]:hover {
  border-color: var(--light);
}